:root {
  --vue-green: #42b883;
  --vue-green-100: #38956b;
  --error: #de4747;
  --dark: #302a2a;
  --blue: #3b82f6;
}

@font-face {
  font-family: "PixSymbols";
  src: url("/pixSymbols.ttf");
}

* {
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "PixSymbols";
  height: 100%;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  height: 100%;
}

#__nuxt {
  height: 100%;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.v-popper__popper {
  max-width: 200px !important;
  user-select: none;
}

.v-popper--theme-info-tooltip .v-popper__inner {
  background: #2a2a2b;
  color: white;
  padding: 5px 12px;
  font-size: 14px;
  border-radius: 8px;
}

.v-popper--theme-info-tooltip .v-popper__arrow-inner {
  visibility: hidden;
}

.v-popper--theme-info-tooltip .v-popper__arrow-outer {
  visibility: hidden;
}

.page-enter-active {
  transition: all 0.2s ease-out;
}

.page-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  background: #dee2e519 radial-gradient(circle, transparent 1%, #dee2e519 1%)
    center / 15000%;
}

.ripple:active {
  background-color: #dee2e582;
  background-size: 100%;
  transition: background 0s;
}

.text-green-vue {
  color: var(--vue-green);
}

.bg-green-vue {
  background-color: var(--vue-green);
}

.hover\:bg-green-vue:hover {
  background-color: var(--vue-green);
}

.bg-green-vue-100 {
  background-color: var(--vue-green-100);
}

.bg-error {
  background-color: var(--error);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-dark {
  background-color: var(--dark);
}

.text-dark {
  color: var(--dark);
}

.text-error {
  color: var(--error);
}

.offset {
  padding-top: 60px;
}

@media only screen and (max-width: 600px) {
  .offset {
    padding-top: 90px;
  }
}

.user-select-none {
  user-select: none;
}

.no-highlight {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bounce-enter-active {
  animation: bounce 0.5s;
}

.bounce-leave-active {
  display: none;
}

@keyframes bounce {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.display-contents {
  display: contents;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}

.modal-enter-active .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.list-enter-active,
.list-leave-active {
  animation: bounce 0.5s;
}

.list-enter-from,
.list-leave-to {
  animation: bounce 0.5s reverse;
}

.w-fit-content {
  width: fit-content;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

option:checked {
  background: rgb(1, 1, 1);
}

.divider {
  border: 0.5px solid rgba(128, 128, 128, 0.318);
}

pre {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.item {
  width: 46px;
  height: 46px;
  background-image: url("/items.png");
  background-repeat: no-repeat;
}

.badge {
  position: absolute;
  font-size: 14px;
  bottom: -6px;
  right: -10px;
  border-radius: 100%;
  width: 22px;
  height: 22px;
}

.row {
  @apply grid grid-cols-12;
}

.flex-center {
  @apply flex items-center justify-center;
}
